*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    /* overflow: hidden; */
    font-family: sans-serif; 
    background-color: white;
    height: 100vh;  
}

.menu{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 57px;
    background-color: #212121; 
    transition: 0.5s;
    transform: translateX(-250px);
}
.logo a{
    padding: 15px 25px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /*margin-left: 5px*/
}
.logo a img{
    max-width:140px;
    border-radius: 50%;
    margin-bottom: 10px;
}
ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    /*text-align: center;*/
    padding-left: 25px;
}
ul li:hover{
    padding-left: 35px;
    background-color: #445665;
}
ul li a{
    display: block;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#open{
    display: none;
}
.open{
    height: 80px;
    width: 80px;
    /*position: absolute;*/
    /*background-color: #000;*/
}
.open i{
    font-size: 25px;
    cursor: pointer;
    /* margin-left: 25px;
    margin-top: 25px; */
    background-color: white;
    padding: 15px 15px;
    color: black;
    z-index: 99;
    
}
#open:checked ~ .menu{
    transition: 0.5s;
    transform: translateX(0);
}
#open:checked ~ .open i{
    transition: 0.5s;
    /* margin-left: 190px; */
    
    /* background-color: #000;
    color: white; */
}

/* from here */

.jumbotron {
    display: inline;
}
.titleContainer {
    display: inline-block;
    width: 94%;
}
#profileIcon {
    float: right;
    width: 20px;
    height: 20px;
}


nav {
    position: fixed;
    width: 100%;
    background-color: white;
    border-style: ridge;
    border-width: 0 0 3px 0;
    z-index: 100;
}

#main-content{
    transition: 0.5s;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/* #open:checked ~.main-content {
    margin-left: 300px;
} */

/* 2. Giao dien thong ke */

/* 2.1. Card */

.counter-up{
  background: url("/res/html-color-codes-color-tutorials-hero.jpg") no-repeat;
  min-height: 250px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-size: cover;
  background-attachment: fixed;
}

/* Chen content vao truoc */
.counter-up::before{
  position:absolute;
  content:"";
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  background: rgba(0,0,0,0,8);
}

.counter-up .content{
  position: relative;
  z-index: 2;
  display:flex;
  width:100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content .box {
  width: calc(25% - 30px);
  border: 1px dashed rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  flex-direction: column;
}

.content .box .icon {
  font-size : 48px;
  color : #e6e6e6;
}

.content .box .counter {
  font-size : 50px;
  color : #f2f2f2;
  font-weight: 500;
  font-family: sans-serif;
}

.content .box .card-text{
  color: #ccc;
  font-weight:400;
}

@media (max-width: 1200px){
  .counter-up{
    padding : 50px 50px 0 50px;
  }
  .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}

@media (max-width: 800px){
  .content .box {
    width: 100%;
  }
}

